
<mat-toolbar>
    <button (click)="createTask()" class="add_btn" mat-raised-button color="primary">Add Task</button>
</mat-toolbar>


<div class="container-fuild task_tabel_wrapper" >
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Task Name</th>
          <th>Task Decription</th>
          <th>Task  Person</th>
          <th>Task Created</th>
          <th>Task Update</th>
          <th>Task Status</th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <td>John</td>
          <td>Doe</td>
          <td>john@example.com</td>
          <td>John</td>
          <td>Doe</td>
          <td>john@example.com</td>
        </tr>

      </tbody>
    </table>
  </div>